.andButton {
  margin-left: 28%;
  margin-top: 1em;
  background-color: #41b0e4;
  color: #fff;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0.25em;
}

.header {
  margin-left: 28%;
  margin-top: 2em;
  margin-bottom: .5em;
  font-size: 20px;
}

.lineBreak {
  width: 39%;
  margin-left: 28%;
  background-color: rgb(167, 206, 243);
  opacity: 0.2;
  margin-top: 5em;
}


.generatedSqlBox {
  width: 39%;
  margin-left: 28%;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 150px;
  border: 1px solid rgb(199, 222, 243);
  border-radius: 0.25em;
  background-color: #fff;
  opacity: .7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;

}

.sqlText {
  font-size: 15px;
  padding: 40px;
}