.boxStyle {
  appearance: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid rgb(135, 174, 211);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  line-height: 1.2;
  display: grid;
  position: absolute;
}